# SERVIDOR
PORT=3000
NODE_ENV=production

# FIREBASE
FIREBASE_PROJECT_ID=monetizacion-pro
FIREBASE_API_KEY=AIzaSyCgJITFOGXw-r5KYzz1zHlNz1jKw-_XMwM
FIREBASE_AUTH_DOMAIN=monetizacion-pro.firebaseapp.com
FIREBASE_STORAGE_BUCKET=monetizacion-pro.appspot.com

# PAYPAL
PAYPAL_CLIENT_ID=Tu_Client_ID_aqui
PAYPAL_CLIENT_SECRET=Tu_Client_Secret_aqui
PAYPAL_MODE=sandbox

# SUSCRIPCIÓN
VIP_PRICE=9.99
VIP_DURATION_DAYS=30

# MONETIZACIÓN
GOOGLE_ANALYTICS_ID=G-6VB8W0PZP0
AFFILIATE_LINK_ENCUESTAS=https://offers.cpx-research.com/index.php?app_id=32499
AFFILIATE_LINK_OFERTAS=https://www.cpagrip.com/showoffers.php?user_id=2519034
