# SERVIDOR
PORT=3000
NODE_ENV=production

# FIREBASE
FIREBASE_PROJECT_ID=monetizacion-pro
FIREBASE_API_KEY=AIzaSyCgJITFOGXw-r5KYzz1zHlNz1jKw-_XMwM
FIREBASE_AUTH_DOMAIN=monetizacion-pro.firebaseapp.com
FIREBASE_STORAGE_BUCKET=monetizacion-pro.appspot.com

# PAYPAL
PAYPAL_CLIENT_ID=AVxAbIDajf-qYOp-mGm6RSGrkqfB6HHk61_QsjUs3S7aBtAYjByJX1SXCbkwKzChYHGgkyuTSU7KznGJ
PAYPAL_CLIENT_SECRET=EBE3a9U7otNH1IH2xzNxfvCG39iTf8Nka6W3vsg2Gj4iPkNWNjQ7DW9phsdXl66oB2ijaZBUY9Tcj7fn
PAYPAL_MODE=sandbox

# SUSCRIPCIÓN
VIP_PRICE=9.99
VIP_DURATION_DAYS=30

# CLOUDFLARE R2
R2_ENDPOINT=https://1ddd9f61540957f058740f5f36038268.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=dfd435d771e8575a85502d14153dadde
R2_SECRET_ACCESS_KEY=3fbe9de46ace57921b58b82ab578aa43ee1df4872bd22db140eb89de9f221b00
R2_BUCKET_NAME=videos-vip
R2_PUBLIC_URL=https://pub-8d40e7b106074f95989c721e1e0558df.r2.dev

# MONETIZACIÓN
GOOGLE_ANALYTICS_ID=G-6VB8W0PZP0
AFFILIATE_LINK_ENCUESTAS=https://offers.cpx-research.com/index.php?app_id=32499
AFFILIATE_LINK_OFERTAS=https://www.cpagrip.com/showoffers.php?user_id=2519034
